# будут игнорироваться все файлы и
# вне зависимости от того, в каком
Thumbs.db
.DS_Store

# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
tmp/
__pycache__/

# будет игнорироваться относительно файла .gitignore
# чаще всего относительно всего проекта
/tmp/
/__pycache__/



# будут игнорироваться все файлы и каталоги с расширением .pdf
# вне зависимости от того, в каком каталоге они находятся
*.pdf

